services:
  postgres:
    image: postgres:17
    container_name: postgres_container
    restart: always
    environment:
      POSTGRES_USER: adauser
      POSTGRES_PASSWORD: adapass
      POSTGRES_DB: curso_spring
      # Método de autenticação seguro (md5 exige senha)
      POSTGRES_HOST_AUTH_METHOD: md5
      POSTGRES_INITDB_ARGS: "--auth-host=md5"
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  adminer:
    image: adminer
    container_name: adminer_container
    restart: always
    ports:
      - "8081:8080"

  app:
    build: .
    container_name: app_container
    restart: always
    ports:
      - "8080:8080"
    depends_on:
      - postgres
    environment:
      - SPRING_PROFILES_ACTIVE=postgres

volumes:
  postgres_data:
